.contact-container {
  background-color: #f6f6f6;
  text-align: center;
}

.contact {
  max-width: 62rem;
  padding: 0 1.5rem;
  margin: auto;

  &-title {
    font-weight: 600;
    font-size: 2.25rem;
    padding-top: 7rem;
    padding-bottom: 2.375rem;
  }

  p {
    color: #999999;
    font-size: 0.875rem;
    line-height: 1.75rem;

    span {
      color: #f8c212;
    }
  }

  &-inputs {
    margin-top: 2.8rem;

    input {
      height: 3.75rem;
      width: 31.2%;
      font-size: 0.75rem;
      font-family: "Open Sans", sans-serif;
      border: none;
      color: #bbbbbb;
      padding-left: 0.75rem;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .name,
    .email {
      @include media-breakpoint-down(sm) {
        margin-bottom: 2.2rem;
      }
    }
  }

  textarea {
    display: block;
    width: 100%;
    height: 9.8rem;
    font-size: 0.75rem;
    font-family: "Open Sans", sans-serif;
    border: none;
    color: #bbbbbb;
    margin-top: 2.2rem;
    margin-bottom: 2.75rem;
    padding-left: 0.75rem;
    padding-top: 1.6rem;
    resize: none;
  }

  button {
    margin-bottom: 7rem;
    width: 29.5rem;
    height: 3.75rem;
    color: white;
    font-size: 0.875rem;
    border: none;
    font-weight: bold;
    letter-spacing: 5px;

    @include media-breakpoint-down(sm) {
      width: 20rem;
    }
  }
}
