.header-container {
  background-color: #f1f1f1;
}

.header {
  max-width: 76.2rem;
  padding: 0 1.5rem;
  margin: auto;

  .navbar {
    height: 7.5em;
    padding: 0;

    .navbar-brand {
      font-size: 2rem;
      margin: 0;
      font-family: "Roboto", sans-serif;
    }

    ul {
      li {
        padding: 0 0.56rem;
        font-size: 0.875rem;
      }
    }

    button {
      border: none;
    }

    .navbar-collapse {
      background-color: #f1f1f1;
    }
  }

  .header-item {
    &-text {
      h1 {
        font-weight: 600;

        @include media-breakpoint-down(md) {
          font-size: 2rem;
        }

        @include media-breakpoint-down(sm) {
          font-size: 1.5rem;
        }
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-size: 0.875rem;

        @include media-breakpoint-down(sm) {
          font-size: 0.7rem;
        }
      }
    }

    &-img {
      img {
        width: 31.5em;
      }
    }
  }
}
